body {
  padding: 0;
  margin: 0;
}

.body {
  padding-top: 150px;
}

.body h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}

.body h1.main_head {
  border-bottom: 2px solid var(--background);
  border-radius: 2px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 100px;
  width: 500px;
  text-align: center;
}

.body h1.post_head {
  border-left: 3px solid var(--background);
}

.body .post {
  margin: 0px auto;
  text-align: center;
  height: 300px;
  width: 390px;
  color: black;
  padding: 5px;
  border-radius: 3px;
}


.body .post img {
  height: 80%;
  width: 100%;
  border-radius: 15px;
  margin: 0 0 20px 0;
}


@media screen and (min-width: 800px) {
  .body .post {
    height: 500px;
    width: 750px;
  }

  .body .post img {
    height: 80%;
    width: 100%;
    border-radius: 5px;
  }
}
